@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lobster&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --primary-color:rgb(0, 130, 13);
    --primary-color-light:#ebfff5;
    --secondary-color:rgb(140, 174, 0);
    --background-color:rgba(90, 169, 98, 0.943);
    --text-dark:#3a4045;
    --max-width:1200px;
}

{
    padding:0;
    margin:0; 
    box-sizing:border-box;
}

body{
    font-family: "Roboto"; sans-serif;
}

body{
    background-color: var(--primary-color-light);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar{ 
    position: fixed; 
    right: 0;
    top: 0;
    width: 350px; 
    height: 100%; 
    padding: 1rem;
    align-items: flex-start;
    background-attachment: fixed;
    background: linear-gradient(to left,white 120px,rgba(255, 255, 255, 0.895),rgba(255, 255, 255, 0.644),rgba(255, 255, 255, 0));
} 

.navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 84px;
    margin-left: 110px;
}

.navbar li{
    margin: 1.5rem;
}

.navbar a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 1000;
    font-size: 24px;
}

.navbar a:hover{
    color: var(--secondary-color);
}

@media (max-width: 1180px){
    .navbar ul{
        margin-top: 120px;
    }
}

@media (max-width: 820px){
    body{
    background-position: center;
    background-position-x: -550px;
    }

    .navbar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%; 
        height: 180px;
        background: linear-gradient(to bottom, white 25%,rgba(255, 255, 255, 0.922) 60%,rgba(255, 255, 255, 0.685) 80%,rgba(255, 255, 255, 0)100%);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        
    }

    .navbar ul{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-left: -30px;
        margin-bottom: 20px;
    }

    .navbar li{
        margin:auto;
    }

    .navbar a{
        font-size: 24px;
    }
}

@media (max-width: 393px){
    body{
        background-position-x: -450px;
    }

    .navbar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%; 
        height: 180px;
        background: linear-gradient(to bottom, white 25%,rgba(255, 255, 255, 0.922) 60%,rgba(255, 255, 255, 0.685) 80%,rgba(255, 255, 255, 0)100%);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        
    }

    .navbar ul{
        display: grid;
        grid-template-columns: repeat(2, 0.4fr);
        grid-template-rows: repeat(2, auto);
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-left: -40px;
        margin-bottom: 40px;
    }

    .navbar a{
        font-size: 24px;
    }
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header_container{
    margin-right: 200px;
    margin-top: 20px;
}

.header_container h1{
    font-size: 52px;
    text-align: center;
    background: linear-gradient(to right, rgb(0, 21, 0), rgb(7, 190, 7),rgb(0, 113, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    font-weight: bold;
    text-shadow: 0 0 80px white,0 0 40px #cdffe5;
    transition: transform 0.4s ease;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header_container h1:hover{
    transform: scale(1.06);
}

.header_container p{
    width: 620px;
    font-size: 18px;
    text-align: center;
    margin-top: -18px;
    text-shadow: 0 0 50px #ffffff,0 0 12px white;
}

@media (max-width: 1180px){
    .header_container{
        margin-right: 225px;
        margin-top: 100px;
    }

    .header_container p{
        width: 700px !important;
    }
}

@media (max-width: 820px){
    header{
        margin-top: 180px;
    }

    .header_container{
        margin: 0 auto;
        padding: 0 15px;
    }

    .header_container h1{
        text-align: center;
    }

    .header_container p{
        font-size: 20px;
        width: 700px !important;
        text-shadow: 0 0 5px #ffffff,0 0 20px white;
    }
}

@media (max-width: 393px){
    header{
        margin-top: 180px;
    }

    .header_container{
        margin: 0 auto;
        padding: 0 15px;
    }

    .header_container h1{
        font-size: 46px;
        text-align: center;
    }

    .header_container p{
        font-size: 14px;
        width: 320px !important;
        text-shadow: 0 0 5px #ffffff,0 0 20px white;
    }
}

.product_section{
    margin-top: 40px;
    overflow: hidden;
}

@media (max-width: 1180px){
    .product_section{
        width: 90%;
        margin: auto;
    }
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 250px;
    margin-bottom: 60px;
}

@media (max-width: 820px){
    .container{
        width: 800px;
        margin: auto;
        margin-bottom: 60px;
    }
}

.product_content{
    margin: auto;
    width: 460px;
    justify-content: center;
    align-items: center;
}

.text_column h2{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: var(--text-dark);
}

.text_column h3{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    margin-top: -10px;
    margin-bottom: 20px;/
}

.tabs{
    display: flex;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid rgb(220, 220, 220);
}

.tabs a{
    text-decoration: none;
    flex-grow: 1;
    margin-bottom: -2px;
    border-bottom: 2px solid transparent;
    color: #374151;
    cursor: pointer;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.tabs a.active{
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.price_row{
    display: flex;
    align-items: center;
    padding: auto;
}

.price_row span{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 26px; 
    color: var(--text-dark);
}

.price_row button{
    width: 120px;
    height: 50px;
    margin-top: 16px;
    margin-left: auto;
    background-color: var(--background-color);
    color: var(--primary-color-light);
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.price_row button:hover{
    background-color: rgba(63, 143, 71, 0.943);
}

.image_column{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

.image_column img{
    width: 350px;
    height: 350px;
    object-fit: cover;
}

@media (max-width: 1180px){
    .image_column img{
        margin-left: 40px;
    }
}

.product_section p{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px; 
}

@media (max-width: 393px){
    .product_section{
        margin-top: 40px;
    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 0 auto 60px auto;
    }

    .container p{
        width: 310px;
    }

    .product_content{
        width: 90%;
        height: auto;
        margin-bottom: 20px;
    }

    .price_row{
        display: flex;
        align-items: center;
        padding: auto;
    }

    .price_row span{
        width: 260px;
    }

    .price_row button{
        width: 160px;
        margin-left: 60px;
    }

    .image_column img{
        width: 300px;
        height: 300px;
    }
}