@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lobster&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --primary-color:rgb(0, 130, 13);
    --primary-color-light:#ebfff5;
    --secondary-color:rgb(140, 174, 0);
    --background-color:rgba(90, 169, 98, 0.943);
    --text-dark:#282d31;
    --max-width:1200px;
}

{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    font-family: "Roboto"; sans-serif;
}

body{
    background-color: var(--primary-color-light);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar{ 
    position: fixed; 
    right: 0;
    top: 0;
    width: 333px; 
    height: 100%; 
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-attachment: fixed;
    background: linear-gradient(to left,white 120px,rgba(255, 255, 255, 0.895),rgba(255, 255, 255, 0.644),rgba(255, 255, 255, 0));
} 

.navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 84px;
    margin-left: 110px;
}

.navbar li{
    margin: 1.5rem;
}

.navbar a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 1000;
    font-size: 24px;
}

.navbar a:hover{
    color: var(--secondary-color);
}

@media (max-width: 1180px){
    .navbar ul{
        margin-top: 120px;
    }
}

@media (max-width: 820px){
    body{
    background-position: center;
    background-position-x: -550px;
    }

    .navbar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%; 
        height: 180px;
        background: linear-gradient(to bottom, white 25%,rgba(255, 255, 255, 0.922) 60%,rgba(255, 255, 255, 0.685) 80%,rgba(255, 255, 255, 0)100%);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        
    }

    .navbar ul{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-left: -30px;
        margin-bottom: 20px;
    }

    .navbar li{
        margin:auto;
    }

    .navbar a{
        font-size: 24px;
    }
}

@media (max-width: 393px){
    body{
        background-position-x: -450px;
    }

    .navbar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%; 
        height: 180px;
        background: linear-gradient(to bottom, white 25%,rgba(255, 255, 255, 0.922) 60%,rgba(255, 255, 255, 0.685) 80%,rgba(255, 255, 255, 0)100%);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        
    }

    .navbar ul{
        display: grid;
        grid-template-columns: repeat(2, 0.4fr);
        grid-template-rows: repeat(2, auto);
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-left: -40px;
        margin-bottom: 40px;
    }

    .navbar a{
        font-size: 24px;
    }
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header_container{
    margin-right: 200px;
    margin-top: 20px;
}

.header_container h1{
    font-size: 52px;
    text-align: center;
    background: linear-gradient(to right, rgb(0, 21, 0), rgb(7, 190, 7),rgb(0, 113, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    font-weight: bold;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 0 0 80px white,0 0 40px #cdffe5;
    transition: transform 0.4s ease;
}

.header_container h1:hover{
    transform: scale(1.06);
}

.header_container p{
    width: 620px;
    font-size: 18px;
    text-align: center;
    margin-top: -18px;
    text-shadow: 0 0 50px #ffffff,0 0 12px white;
}

@media (max-width: 1180px){
    .header_container{
        margin-right: 225px;
        margin-top: 40px;
    }

    .header_container p{
        width: 700px;
    }
}

@media (max-width: 820px){
    header{
        margin-top: 180px;
    }

    .header_container{
        margin: 0 auto;
        padding: 0 15px;
    }

    .header_container h1{
        text-align: center;
    }

    .header_container p{
        font-size: 20px;
        width: 700px;
        text-shadow: 0 0 5px #ffffff,0 0 20px white;
    }
}

@media (max-width: 393px){
    header{
        margin-top: 180px;
    }

    .header_container{
        margin: 0 auto;
        padding: 0 15px;
    }

    .header_container h1{
        font-size: 46px;
        text-align: center;
    }

    .header_container p{

        font-size: 14px;
        width: 290px;
        text-shadow: 0 0 5px #ffffff,0 0 20px white;
    }
}

.gallary{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 200px;
}

.gallary_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 40%;
}

.gallary_container:nth-child(3){
    width: 40%;
    justify-content: center;
}

.gallary_container img{
    justify-content: center;
    margin: auto;
    margin-left: 150px;
    border-radius: 50%;
    width: 30%;
    object-fit: cover;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.167);
    transition: transform 0.3s ease;
}

.gallary_container img:hover{
    transform: scale(1.08);
}

.gallary_container h2{
    text-align: center;
    width: 400px;
}

.gallary_container p{
    text-align: center;
    width: 350px;
}

@media (max-width: 1180px){
    .gallary_container{
        margin-right: 50px;
    }
}

@media (max-width: 820px){
    .gallary{
        margin: 0 auto;
        margin-left: 50px;
    }

    .gallary_container img{
        margin: auto;
        margin-left: 100px;
        width: 40%;
    }

    .gallary_container p{
        width: 300px;
    }
}

@media (max-width: 393px){
    .gallary{
        margin: 0 auto;
        margin-left: 50px;
    }

    .gallary_container{
        gap: 10px;
        width: 40%;
    }

    .gallary_container img{
        margin: auto;
        width: 100%;
    }

    .gallary_container p{
        width: 300px;
    }
}