@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lobster&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --primary-color:rgb(0, 130, 13);
    --primary-color-light:#ebfff5;
    --secondary-color:rgb(140, 174, 0);
    --background-color:rgba(90, 169, 98, 0.943);
    --text-dark:#3a4045;
    --max-width:1200px;
}

{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body, html {
  position: relative;
  z-index: 0;
  overflow-x: hidden;
}

body{
    background-color: var(--primary-color-light);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar{ 
    position: fixed; 
    right: 0;
    top: 0;
    width: 333px; 
    height: 100%; 
    padding: 1rem;
    align-items: flex-start;
    background-attachment: fixed;
    background: linear-gradient(to left,white 120px,rgba(255, 255, 255, 0.895),rgba(255, 255, 255, 0.644),rgba(255, 255, 255, 0));
} 

.navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 84px;
    margin-left: 110px;
}

.navbar li{
    margin: 1.5rem;
}

.navbar a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 24px;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}

.navbar a:hover{
    color: var(--secondary-color);
}

@media (max-width: 1180px){
    .navbar ul{
        margin-top: 120px;
    }
}

@media (max-width: 820px){
    .navbar{
        position: fixed !important;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important; 
        height: 180px !important;
        background: linear-gradient(to bottom, white 25%,rgba(255, 255, 255, 0.922) 60%,rgba(255, 255, 255, 0.685) 80%,rgba(255, 255, 255, 0)100%) !important;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999 !important;
        
    }

    .navbar ul{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-left: -30px;
        margin-bottom: 20px;
    }

    .navbar li{
        margin:auto;
    }

    .navbar a{
        font-size: 24px;
    }
}

@media (max-width: 393px){
    .navbar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%; 
        height: 180px;
        background: linear-gradient(to bottom, white 25%,rgba(255, 255, 255, 0.922) 60%,rgba(255, 255, 255, 0.685) 80%,rgba(255, 255, 255, 0)100%);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        
    }

    .navbar ul{
        display: grid;
        grid-template-columns: repeat(2, 0.4fr);
        grid-template-rows: repeat(2, auto);
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-left: -40px;
        margin-bottom: 40px;
    }

    .navbar a{
        font-size: 24px;
    }
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header_container{
    margin-right: 200px;
    margin-top: 20px;
}

.header_container h1{
    font-size: 52px;
    text-align: center;
    background: linear-gradient(to right, rgb(0, 21, 0), rgb(7, 190, 7),rgb(0, 113, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    font-weight: bold;
    text-shadow: 0 0 80px white,0 0 40px #cdffe5;
    transition: transform 0.4s ease;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header_container h1:hover{
    transform: scale(1.06);
}

.header_container p{
    width: 620px;
    font-size: 18px;
    text-align: center;
    margin-top: -18px;
    text-shadow: 0 0 50px #ffffff,0 0 12px white;
    margin-bottom: 20px;
}

@media (max-width: 1180px){
    .header_container{
        margin-right: 225px;
        margin-top: 40px !important;
    }

    .header_container p{
        width: 700px;
        margin-bottom: 20px;
    }
}

@media (max-width: 820px){
    header{
        margin-top: 130px !important;
        position: relative;
        z-index: 1;
    }

    .header_container{
        margin: 0 auto;
        padding: 0 15px;
    }

    .header_container h1{
        text-align: center;
    }

    .header_container p{
        font-size: 20px;
        width: 680px !important;
        text-shadow: 0 0 5px #ffffff,0 0 20px white;
    }
}

@media (max-width: 393px){
    header{
        margin-top: 180px;
    }

    .header_container{
        margin: 0 auto;
        padding: 0 15px;
    }

    .header_container h1{
        font-size: 46px;
        text-align: center;
    }

    .header_container p{
        font-size: 14px;
        width: 320px !important;
        margin-bottom: 20px;
        text-shadow: 0 0 5px #ffffff,0 0 20px white;
    }
}

.content{
    display:flex;
    flex-direction:column;
    margin-top:15px;
    padding: 0 12px;
}

.topic{
    width: 680px;
    margin-left: 145px;
    font-size: 1.3rem;
    line-height: 1;
    color: var(--text-dark);
    padding: 0 20px;
}

.topic h2{
    font-size: 32px;
    color: var(--text-dark);
    margin-bottom: 16px;
    transition: transform 0.3s ease;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.topic h2:hover{
    transform: scale(1.05);
}

.topic h3{
    font-size: 24px;
    color: var(--text-dark);
    margin-bottom: 16px;
    font-weight: 800;
}

.items{
    width:100%;
    max-width:850px;
    display:flex;
    flex-direction:column;
    gap:12px;
}

.items p{ 
    color: var(--text-dark);
}

.items ul{ 
    color:var(--text-dark); 
}

.items li{
    margin-bottom: 8px;
}

@media (max-width: 1180px){
    .content{
        margin: 0 auto;
        margin-left: -40px;
    }
}

@media (max-width: 820px){
    .content{
        margin: 0 auto;
        margin-left: -100px;
    }
}

@media (max-width: 393px){
    .content{
        width: 300px;
        margin: 0 auto;
        margin-left: -120px;
    }

    .topic{
        width: 280px;
        font-size: 18px;
        line-height: 1;
    }

    .topic h2{
        font-size: 24px;
    }

    .topic h3{
        font-size: 22px;
    }
}
