@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lobster&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --primary-color:rgb(0, 130, 13);
    --primary-color-light:#ebfff5;
    --secondary-color:rgb(140, 174, 0);
    --text-dark:#282d31;
    --max-width:1200px;
}

body{
    font-family: "Roboto"; "sans-serif";
}

body{
    background-image: url(Image/transportation_bg.jpeg); 
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    background-position-x: 0px;
    background-position-y: -8px;
    background-repeat: no-repeat;
}

.navbar{ 
    position: fixed; 
    right: 0;
    top: 0;
    width: 350px; 
    height: 100%; 
    padding: 1rem;
    align-items: flex-start;
    background-attachment: fixed;
    background: linear-gradient(to left,white 120px,rgba(255, 255, 255, 0.895),rgba(255, 255, 255, 0.644),rgba(255, 255, 255, 0));
} 

.navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 84px;
    margin-left: 110px;
}

.navbar li{
    margin: 1.5rem;
}

.navbar a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 1000;
    font-size: 24px;
}

.navbar a:hover{
    color: var(--secondary-color);
}

@media (max-width: 1180px){
    body{
        background-position-x: -90px;
    }

    .navbar ul{
        margin-top: 120px;
    }
}

@media (max-width: 820px){
    body{
        background-size: 140%;
        background-position-x: -160px;
        background-position-y: 200px;
    }

    .navbar{
        position: fixed;
        top: 0 ;
        left: 0;
        width: 100%; 
        height: 180px;
        background: linear-gradient(to bottom, white 25%,rgba(255, 255, 255, 0.922) 60%,rgba(255, 255, 255, 0.685) 80%,rgba(255, 255, 255, 0)100%);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10000;
    }

    .navbar ul{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-left: -30px;
        margin-bottom: 20px;
    }

    .navbar li{
        margin:auto;
    }

    .navbar a{
        font-size: 24px;
    }
}

@media (max-width: 393px){
    body{
        background-attachment: fixed;
        background-size: 150%;
        background-position-x: -90px;
        background-position-y: 240px;
    }

    .navbar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%; 
        height: 180px;
        background: linear-gradient(to bottom, white 25%,rgba(255, 255, 255, 0.922) 60%,rgba(255, 255, 255, 0.685) 80%,rgba(255, 255, 255, 0)100%);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }

    .navbar ul{
        display: grid;
        grid-template-columns: repeat(2, 0.4fr);
        grid-template-rows: repeat(2, auto);
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-left: -40px;
        margin-bottom: 40px;
    }

    .navbar a{
        font-size: 24px;
    }
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header_container{
    margin-right: 200px;
    margin-top: 20px;
}

.header_container h1{
    font-size: 52px;
    text-align: center;
    background: linear-gradient(to right, rgb(0, 21, 0), rgb(7, 190, 7),rgb(0, 113, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    font-weight: bold;
    text-shadow: 0 0 80px white,0 0 40px #cdffe5;
    transition: transform 0.4s ease;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header_container h1:hover{
    transform: scale(1.06);
}

.header_container p{
    width: 620px;
    font-size: 18px;
    text-align: center;
    margin-top: -18px;
    text-shadow: 0 0 80px white,0 0 40px #cdffe5;
    color: #000000f3;;
    background-clip: text;    
}

@media (max-width: 1180px){
    .header_container{
        margin-right: 225px;
        margin-top: 40px;
    }
}

@media (max-width: 820px){
    header{
        margin-top: 180px !important;
    }

    .header_container{
        margin: 0 auto;
        padding: 0 15px;
    }

    .header_container h1{
        text-align: center;
    }

    .header_container p{
        font-size: 20px;
        width: 600px !important;
        text-shadow: 0 0 5px #ffffff,0 0 20px white;
    }
}

@media (max-width: 393px){
    header{
        margin-top: 240px;
    }

    .header_container{
        margin: 0 auto;
        padding: 0 15px;
    }

    .header_container h1{
        font-size: 46px;
        text-align: center;
    }

    .header_container p{
        margin-left: 12px;
        font-size: 14px;
        width: 320px !important;
        text-shadow: 0 0 5px #ffffff,0 0 20px white;
    }
}

@media (max-width: 1180px){
    .header_container{
        margin-right: 225px;
        margin-top: 40px;
    }
}

@media (max-width: 820px){
    header{
        margin-top: 180px !important;
    }

    .header_container{
        margin: 0 auto;
        padding: 0 15px;
    }

    .header_container h1{
        text-align: center;
    }

    .header_container p{
        font-size: 20px;
        width: 600px !important;
        text-shadow: 0 0 5px #ffffff,0 0 20px white;
    }
}

@media (max-width: 393px){
    header{
        margin-top: 240px;
    }

    .header_container{
        margin: 0 auto;
        padding: 0 15px;
    }

    .header_container h1{
        font-size: 46px;
        text-align: center;
    }

    .header_container p{
        margin-left: 12px;
        font-size: 14px;
        width: 320px !important;
        text-shadow: 0 0 5px #ffffff,0 0 20px white;
    }
}

.transport{
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: visible;
}

.walking p{
    width: 240px;
    height: 130px;
    padding: 12px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px; 
    text-align: center;
    position: absolute;
    display: inline-block;
    bottom: 11.7%;
    left: 54.5%;
    background-color: var(--primary-color-light);
    color:var(--text-dark);
    border-radius: 14px;
    opacity: 1;
}

.cycling p{
    width: 200px;
    height: 135px;
    padding: 12px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px; 
    text-align: center;
    position: absolute;
    display: inline-block;
    bottom: 26%;
    left: 11%;
    transform: translateX(-50%);
    background-color: var(--primary-color-light);
    color:var(--text-dark);
    border-radius: 14px;
    opacity: 1;
}

.public p{
    width: 260px;
    height: 85px;
    padding: 12px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px; 
    text-align: center;
    position: absolute;
    display: inline-block;
    bottom: 40%;
    left: 68%;
    transform: translateX(-50%);
    background-color: var(--primary-color-light);
    color:var(--text-dark);
    border-radius: 14px;
    opacity: 1;
}


.electric p{
    width: 300px;
    height: 85px;
    padding: 12px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px; 
    text-align: center;
    position: absolute;
    display: inline-block;
    bottom: 3%;
    left: 3%;
    background-color: var(--primary-color-light);
    color:var(--text-dark);
    border-radius: 14px;
    opacity: 1;
}

@media (max-width: 1180px){
    .walking p{
        width: 160px;
        height: 140px;
        bottom: 10%;
        left: 61.5%;
        font-size: 14px;
    }

    .cycling p{
        width: 200px;
        height: 100px;
        bottom: 42%;
        left: 12%;
        font-size: 14px;
    }

    .public p{
        width: 180px;
        height: 100px;
        bottom: 42%;
        left: 67.5%;
        font-size: 14px;
    }

    .electric p{
        width: 300px;
        height: 55px;
        bottom: 4%;
        left: 2%;
        font-size: 14px;
    }
}

@media (max-width: 820px){
    .walking p{
        width: 160px;
        height: 140px;
        bottom: 13%;
        left: 72%;
        font-size: 14px;
    }

    .cycling p{
        width: 160px;
        height: 140px;
        bottom: 44%;
        left: 14%;
        font-size: 14px;
    }

    .public p{
        width: 140px;
        height: 140px;
        bottom: 44%;
        left: 84%;
        font-size: 14px;
    }

    .electric p{
        width: 300px;
        height: 55px;
        bottom: 12%;
        left: 12%;
        font-size: 14px;
    }
}

@media (max-width: 393px){
    .walking p{
        width: 100px;
        height: 120px;
        bottom: 5%;
        left: 64.5%;
        font-size: 10px;
    }

    .cycling p{
        width: 80px;
        height: 140px;
        bottom: 1%;
        left: 15.5%;
        font-size: 10px;
        opacity: 1;
    }

    .public p{
        width: 155px;
        height: 52px;
        bottom: 33.95%;
        right: 120px;
        font-size: 10px;
        opacity: 1;
    }

    .electric p{
        width: 100px;
        height: 90px;
        bottom: -5%;
        left: 32%;
        font-size: 10px;
        opacity: 1;
    }
}
