@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lobster&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --primary-color:rgb(0, 130, 13);
    --primary-color-light:#ebfff5;
    --secondary-color:rgb(140, 174, 0);
    --background-color:rgba(90, 169, 98, 0.943);
    --text-dark:#3a4045;
    --max-width:1200px;
}

{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    font-family: "Roboto"; sans-serif;
}

body{
    background-color: var(--primary-color-light);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar{ 
    position: fixed; 
    right: 0;
    top: 0;
    width: 350px; 
    height: 100%; 
    padding: 1rem;
    align-items: flex-start;
    background-attachment: fixed;
    background: linear-gradient(to left,white 120px,rgba(255, 255, 255, 0.895),rgba(255, 255, 255, 0.644),rgba(255, 255, 255, 0));
} 

.navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 84px;
    margin-left: 110px;
}

.navbar li{
    margin: 1.5rem;
}

.navbar a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 1000;
    font-size: 24px;
}

.navbar a:hover{
    color: var(--secondary-color);
}

@media (max-width: 1180px){
    .navbar ul{
        margin-top: 120px;
    }
}

@media (max-width: 820px){
    body{
        margin-top: 180px;
    }

    .navbar{
        position: fixed;
        top: 0 ;
        left: 0;
        width: 100%; 
        height: 180px;
        background: linear-gradient(to bottom, white 25%,rgba(255, 255, 255, 0.922) 60%,rgba(255, 255, 255, 0.685) 80%,rgba(255, 255, 255, 0)100%);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10000;
    }

    .navbar ul{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-left: -30px;
        margin-bottom: 20px;
    }

    .navbar li{
        margin:auto;
    }

    .navbar a{
        font-size: 24px;
    }
}

@media (max-width: 393px){
    .navbar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%; 
        height: 180px;
        background: linear-gradient(to bottom, white 25%,rgba(255, 255, 255, 0.922) 60%,rgba(255, 255, 255, 0.685) 80%,rgba(255, 255, 255, 0)100%);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }

    .navbar ul{
        display: grid;
        grid-template-columns: repeat(2, 0.4fr);
        grid-template-rows: repeat(2, auto);
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-left: -40px;
        margin-bottom: 40px;
    }

    .navbar a{
        font-size: 24px;
    }
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
     
}

.header_container{
    margin-right: 200px;
    margin-top: 20px;
}

.header_container h1{
    font-size: 52px;
    text-align: center;
    background: linear-gradient(to right, rgb(0, 21, 0), rgb(7, 190, 7),rgb(0, 113, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    font-weight: bold;
    text-shadow: 0 0 80px white,0 0 40px #cdffe5;
    transition: transform 0.4s ease;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header_container h1:hover{
    transform: scale(1.06);
}

.header_container p{
    width: 620px;
    font-size: 18px;
    text-align: center;
    margin-top: -18px;
    margin-bottom: 35px;
    text-shadow: 0 0 50px #ffffff,0 0 12px white;
}

@media (max-width: 1180px){
    .header_container{
        margin-right: 225px;
        margin-top: 40px;
    }
}

@media (max-width: 820px){
    header{
        margin-top: 180px !important;
    }

    .header_container{
        margin: 0 auto;
        padding: 0 15px;
    }

    .header_container h1{
        text-align: center;
    }

    .header_container p{
        font-size: 20px;
        width: 600px !important;
        text-shadow: 0 0 5px #ffffff,0 0 20px white;
    }
}

@media (max-width: 393px){
    header{
        margin-top: 240px;
        margin-left: 6px;
    }

    .header_container{
        margin: 0 auto;
        padding: 0 15px;
    }

    .header_container h1{
        font-size: 46px;
        text-align: center;
    }

    .header_container p{
        margin-left: 12px;
        font-size: 14px;
        width: 340px !important;
        text-shadow: 0 0 5px #ffffff,0 0 20px white;
    }
}

.gallary_section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 220px;
    margin-bottom: 40px;
    gap: 40px;
}

.gallary_header h2{
    font-size: 2rem;
    color: var(--text-dark);
    margin: auto;
    padding: 10px;
}

.gallary{
    align-items: center;
    gap: 20px;
    width: 497px;
    height: 285px;
}

.gallary_item{
    position: relative;
    width: 480px;
    height: 240px;
    margin: auto;
}

.gallary_item img{
    position: absolute;
    width: 100%;
    margin-top: 8px;
    aspect-ratio: 16/9;
    object-fit: cover;
    display: flex;
    border: 9px solid rgb(211, 239, 211);
}

.overlay{
    width: 480px;
    height: 270px;
    background-color: white;
    border: 9px solid rgb(236, 236, 236);
    position: absolute;
    margin-top: -232px;
    left: 22.35%;
    opacity: 0;
    transition: opacity 0.5s ease;
    box-shadow: 0 5px 30px rgba(255, 255, 148, 0.655);
}

.overlay p{
    color: var(--text-dark);
    width: 450px;
    margin: auto;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.overlay:hover{
    opacity: 1;
}

.overlay p{
    font-size: 0.95rem;
}

@media (max-width: 1180px){
    .overlay{
        left: 20.3%;
    }
}

@media (max-width:820px){
    .gallary_section{
        margin: 0 auto;
    }

    .overlay{
        left: 20.8%;
    }
}

@media (max-width: 393px){
    .gallary_section{
        margin: auto;
        margin-left: -70px;
    }

    .gallary_header{
        width: 60%;
        margin-bottom: -60px;
    }

    .gallary_item{
        width: 320px;
        margin-left: 0px;
    }

    .overlay{
        width: 320px;
        height: 180px;
        left: 6.95%;
    }

    .overlay p{
        margin-top: 15px !important;
        font-size: 12px !important;
        width: 300px;
    }
}