@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lobster&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --primary-color:rgb(0, 130, 13);
    --primary-color-light:#ebfff5;
    --secondary-color:rgb(140, 174, 0);
    --background-color:rgba(90, 169, 98, 0.943);
    --text-dark:#3a4045;
    --max-width:1200px;
}

{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    font-family: "Roboto"; sans-serif;
}

body{
    background-color: var(--primary-color-light);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar{ 
    position: fixed; 
    right: 0;
    top: 0;
    width: 350px; 
    height: 100%; 
    padding: 1rem;
    align-items: flex-start;
    background-attachment: fixed;
    background: linear-gradient(to left,white 120px,rgba(255, 255, 255, 0.895),rgba(255, 255, 255, 0.644),rgba(255, 255, 255, 0));
} 

.navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 84px;
    margin-left: 110px;
}

.navbar li{
    margin: 1.5rem; 
}

.navbar a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 1000;
    font-size: 24px;
}

.navbar a:hover{
    color: var(--secondary-color);
}

@media (max-width: 1180px){
    .navbar ul{
        margin-top: 120px;
    }
}

@media (max-width: 820px){
    body{
        margin-top: 180px;
    }

    .navbar{
        position: fixed;
        top: 0 !important;
        left: 0;
        width: 100%; 
        height: 180px;
        background: linear-gradient(to bottom, white 25%,rgba(255, 255, 255, 0.922) 60%,rgba(255, 255, 255, 0.685) 80%,rgba(255, 255, 255, 0)100%);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999 !important;
    }

    .navbar ul{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-left: -30px;
        margin-bottom: 20px;
    }

    .navbar li{
        margin:auto;
    }

    .navbar a{
        font-size: 24px;
    }
}

@media (max-width: 393px){
    .navbar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%; 
        height: 180px;
        background: linear-gradient(to bottom, white 25%,rgba(255, 255, 255, 0.922) 60%,rgba(255, 255, 255, 0.685) 80%,rgba(255, 255, 255, 0)100%);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }

    .navbar ul{
        display: grid;
        grid-template-columns: repeat(2, 0.4fr);
        grid-template-rows: repeat(2, auto);
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-left: -40px;
        margin-bottom: 40px;
    }

    .navbar a{
        font-size: 24px;
    }
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header_container{
    margin-right: 200px;
    margin-top: 20px;
}

.header_container h1{
    font-size: 52px;
    text-align: center;
    background: linear-gradient(to right, rgb(0, 21, 0), rgb(7, 190, 7),rgb(0, 113, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    font-weight: bold;
    text-shadow: 0 0 80px white,0 0 40px #cdffe5;
    transition: transform 0.4s ease;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header_container h1:hover{
    transform: scale(1.06);
}

.header_container p{
    width: 620px;
    font-size: 18px;
    text-align: center;
    margin-top: -18px;
    margin-bottom: 25px;
    text-shadow: 0 0 50px #ffffff,0 0 12px white;
}

@media (max-width: 1180px){
    .header_container{
        margin-right: 225px;
        margin-top: 40px;
    }
}

@media (max-width: 820px){
    header{
        margin-top: 180px;
    }

    .header_container{
        margin: 0 auto;
        padding: 0 15px;
    }

    .header_container h1{
        text-align: center;
    }

    .header_container p{
        font-size: 20px;
        width: 600px !important;
        text-shadow: 0 0 5px #ffffff,0 0 20px white;
    }
}

@media (max-width: 393px){
    header{
        margin-top: 180px;
        margin-left: 6px;
    }

    .header_container{
        margin: 0 auto;
        padding: 0 15px;
    }

    .header_container h1{
        font-size: 46px;
        text-align: center;
    }

    .header_container p{
        margin-left: 12px;
        font-size: 14px;
        width: 300px !important;
        text-shadow: 0 0 5px #ffffff,0 0 20px white;
    }
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 40px 20px;
}

@media (max-width:1180px){
    .container{
        width: 80%;
        margin-left: 160px;
    }
}

@media (max-width:820px){
    .container{
       width: 60%;
    }
}

@media (max-width:393px){
    section{
        width: 10%;
    }

    .container{
        text-align: center;
        justify-content: center;
    }
}

.feature_item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
    margin-right: 280px;
}

.feature_itemsp{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
    margin-left: -380px;
}

.icon_box{
    flex-shrink: 0;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
}

.icon_box img{
    width: 100px;
    height: 100px;
}

.text_content{
    max-width: 800px;
}

.text_content h2{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 28px;
    margin-bottom: 10px;
}

.text_content p{
    width: 520px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: var(--text-dark);
    line-height: 1.6;
}

.text_content a{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: var(--secondary-color);
    text-decoration: none;
}

.text_content a:hover{
    color: rgb(103, 129, 0);
    text-decoration: underline;
}

@meida (max-width:1180px){
    .feature_itemsp{
      
    }
}

@media (max-width:820px){
    .feature_item{
       width: 400px;
       margin-right: 0px;
    }

    .feature_itemsp{
        margin: 0 auto;
        margin-left: -100px;
    }

    .text_content h2{
        font-size: 24px;
    }

    .text_content p{
        width: 350px;
        font-size: 16px;
    }
}

@media (max-width:393px){
    .feature_item{
        display: flex;
        width: 300px;
        justify-content: center;
        align-items: center;
    }

    .feature_itemsp{
        margin-left: -10px !important;
        margin-right: -10px !important;
    }
    .text_content h2{
        width: 200px;
        font-size: 20px;
    }

    .text_content p{
        width: 260px;
        font-size: 14px;
    }

    .icon_box{
        width: 90px;
        height: 90px;
        margin: 0 auto;
    }

    .icon_box img{
        width: 60px;
        height: 60px;
    }
}